* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import "variables";
@import "header";
@import "box";
@import "swiper";
@import "footer";
@import "reponsive";
@import "custom";
// @import "tf-section";